$font-color: #949da5;
$bg-color: #000000;
$green: #44fb6f;
$path: #549bf5;

body {
    background: $bg-color;
    color: rgb(178, 178, 178);
    font-family: 'JetBrains Mono', monospace;   
    height: 100vh;
    margin: 0;
    color: $font-color;

    /* background-image: url('../assets/skills-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    backdrop-filter: blur(5px); */

    .background {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        padding: 0 25px;

        .top {
            height: 30vh;
            display: flex;


            .terminal {
                font-style: italic;
                width: 50%;
                font-size: 20px;

                .path {
                    color: $path;
                }

                .terminal-input {

                    .green-arrow {
                        font-weight: bolder;
                        color: $green;
                    }

                    .command-input-box {
                        font-style: italic;
                        border: none;
                        font-size: 24px;
                        background: $bg-color;
                        outline: none;
                        color: $font-color;
                    }
                }
            }

            .navigation {
                width: 50%;
                display: flex;
                flex-flow: row-reverse;

                .navigation-item {
                    font-style: italic;
                    font-size: larger;
                    margin: 5px 45px 0 0;

                    :hover {
                        color: rgb(0, 189, 0);
                        cursor: pointer;
                    }
                }
            }
        }

        .bottom {
            height: 70vh;

            .title {
                font-weight: thin;
                font-size: 10rem;
                color: $font-color;
                transition: color 10s ease-out;
              
                &:hover {
                  cursor: pointer;
                  transition: color 0.5s ease-in-out;
                  color: rgb(0, 135, 0);
                }
            }
        }
    }
}