doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
    link(rel='stylesheet', href='/styles/contact.css')
    script(src='/scripts/terminal.js')
    title Contact
  body
    .background
      .top.child-div
        .terminal
          .path
            p ~ /user@pawanmkr/portfolio/contact/
          .terminal-input
            p
              span.green-arrow &gt; 
              span
                input.command-input-box(placeholder='cd')
        //
          <div class="navigation">
          <div class="navigation-item" onclick="window.location.href = 'https://cumailin-my.sharepoint.com/personal/20bcs1717_cuchd_in/_layouts/15/onedrive.aspx?id=/personal/20bcs1717_cuchd_in/Documents/PAWAN_KUMAR_RESUME_updated.pdf&amp;parent=/personal/20bcs1717_cuchd_in/Documents&amp;ga=1';">
          <p>resume</p>
          </div>
          <div class="navigation-item" onclick="window.location.href = '/projects'">
          <p>projects</p>
          </div>
          <div class="navigation-item" onclick="window.location.href = 'https://github.com/pawanmkr'">
          <p>github</p>
          </div>
          <div class="navigation-item" onclick="window.location.href = 'mailto:iampawanmkr@gmail.com'">
          <p>email</p>
          </div>
          </div>
      .bottom.child-div
        .contact
          .left
            .email.contact-option(onclick="window.open('mailto:0qww2xy7@pawanmkr.anonaddy.com')")
              p email
            .telegram.contact-option(onclick="window.open('https://t.me/pknex')")
              p telegram
            .resume.contact-option(onclick="window.open('https://cumailin-my.sharepoint.com/personal/20bcs1717_cuchd_in/_layouts/15/onedrive.aspx?id=/personal/20bcs1717_cuchd_in/Documents/PAWAN_KUMAR_RESUME_updated.pdf&parent=/personal/20bcs1717_cuchd_in/Documents&ga=1')")
              p resume
            .linkedin.contact-option(onclick="window.open('https://linkedin.com/in/pawanmkr')")
              p linkedin
            .twitter.contact-option(onclick="window.open('https://twitter.com/pawanmkr', '_blank')")
              p twitter
          hr.separator
          .right
            form(action='/message', method='post')
              .title
                i.fa-brands.fa-whatsapp
                label(for='send-message') message on whatsapp for fast response...
              br
              input.name(type='name', name='name', placeholder='your name', required='')
              br
              input.email(type='email', name='email', placeholder='enter your email (optional)')
              br
              input.phone(type='tel', name='phone', placeholder='your whatsapp number', required='')
              br
              textarea.text-box(name='message', placeholder='message...', minlength='20', required='')
              br
              button.submit-btn(type='submit')  send 