doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(rel="stylesheet", href="/css/home.css")
        
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap', rel='stylesheet')

        script(src="/scripts/home.js")
        title Pawan Kumar
    body 
        div.background 
            div.top.child-div
                div.terminal
                    div.path
                        p ~ /user@pawanmkr/portfolio/
                    div.terminal-input
                        p
                            span.green-arrow &gt; 
                            span
                                input.command-input-box(placeholder='cd projects')
                div.navigation
                    div.navigation-item(onclick="window.location.href = 'https://cumailin-my.sharepoint.com/personal/20bcs1717_cuchd_in/_layouts/15/onedrive.aspx?id=/personal/20bcs1717_cuchd_in/Documents/PAWAN_KUMAR_RESUME_updated.pdf&parent=/personal/20bcs1717_cuchd_in/Documents&ga=1';")
                        p resume
                    div.navigation-item(onclick="window.location.href = '/projects'")
                        p projects
                    div.navigation-item(onclick="window.location.href = 'https://github.com/pawanmkr'")
                        p github
                    div.navigation-item(onclick="window.location.href = 'mailto:iampawanmkr@gmail.com'")
                        p email
            div.bottom.child-div
                h1.title 
                    | server_side
                    br
                    | Developer