html
  head
  link(rel="stylesheet", href="/css/index.css")
  body
    .tenor-gif-embed(data-postid='24874935', data-share-method='host', data-aspect-ratio='0.55625', data-width='100%')
      a(href='https://tenor.com/view/bhik-mangya-deepak-kalal-kya-dekh-raha-hai-bhikari-kya-re-bhikmanga-gif-24874935') Bhik Mangya Deepak Kalal GIF
      | from 
      a(href='https://tenor.com/search/bhik+mangya-gifs') Bhik Mangya GIFs
    |  
    script(type='text/javascript', async='', src='https://tenor.com/embed.js')
