body {
  background: #000000;
  color: rgb(178, 178, 178);
  font-family: "JetBrains Mono", monospace;
  height: 100vh;
  margin: 0;
  color: #949da5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .background {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 100vh; */
  padding: 0 25px 25px 25px;
  /* border: 2px solid white; */
}
body .background .top {
  height: 20vh;
  display: flex;
}
body .background .top .terminal {
  font-style: italic;
  width: 50%;
  font-size: 20px;
}
body .background .top .terminal .path {
  color: #549bf5;
}
body .background .top .terminal .terminal-input .green-arrow {
  font-weight: bolder;
  color: rgb(0, 189, 0);
}
body .background .top .terminal .terminal-input .command-input-box {
  font-style: italic;
  border: none;
  font-size: 24px;
  background: #000000;
  outline: none;
  color: #949da5;
}
body .background .top .navigation {
  width: 50%;
  display: flex;
  flex-flow: row-reverse;
}
body .background .top .navigation .navigation-item {
  font-style: italic;
  font-size: larger;
  margin: 5px 0 0 45px;
}
body .background .top .navigation .navigation-item :hover {
  color: rgb(0, 189, 0);
  cursor: pointer;
}
body .background .bottom .contact {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
body .background .bottom .contact .separator {
  width: 0.1px;
  height: 250px;
  border: none;
  background: #949da5;
  opacity: 0.5;
}
body .background .bottom .contact .left {
  padding: 25px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
body .background .bottom .contact .left p {
  margin: 0;
}
body .background .bottom .contact .left .contact-option {
  margin: 10px 0;
}
body .background .bottom .contact .left .contact-option :hover {
  color: rgb(0, 189, 0);
  cursor: pointer;
}
body .background .bottom .contact .right {
  padding: 25px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .background .bottom .contact .right form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
body .background .bottom .contact .right form .title {
  margin: 0 0 20px 0;
}
body .background .bottom .contact .right form input {
  margin: 10px 0;
  font-size: 1em;
  border: none;
  border-bottom: 0.5px solid #949da5;
  background: #000000;
  outline: none;
  color: #949da5;
  padding: 5px;
  width: 80%;
}
body .background .bottom .contact .right form .text-box {
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #949da5;
  border: none;
  border-bottom: 0.5px solid #949da5;
  background: #000000;
  outline: none;
  color: #949da5;
  resize: none;
  height: 100px;
  padding: 5px;
  width: 80%;
}
body .background .bottom .contact .right form .submit-btn {
  margin: 10px 0;
  font-size: 1em;
  background: #000000;
  outline: none;
  border: 1px solid #949da5;
  padding: 10px 45px;
  text-align: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #949da5;
}
body .background .bottom .contact .right form .submit-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 189, 0);
  border: 1px solid #000000;
  color: #000000;
}/*# sourceMappingURL=contact.css.map */